SCRAM-SHA-1-PLUS + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) supports

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Note: XMPP servers remove the old history unsecured MD5 support.

Dear irssi-xmpp team, @cdidier, @fschlich, @paulfariello, @ailin-nemui, @vaygr, @1g0rb0hm, @dkg, @ge0rg, @pstray, @nanderv, @benaryorg, @singpolyma, @ailin-nemui, @jclulow, @MalakymR, @hvr,

In first, I wish you a Happy New Year 2022!

Have you progressed on SCRAM?

Thanks in advance.

Linked to:
- https://github.com/irssi/irssi/issues/1178
- https://github.com/cdidier/irssi-xmpp/issues/54
- https://github.com/scram-xmpp/info/issues/1

Dear all,

I wish you a Happy New Year 2025!

I have discovered a very good news which has been done 2024-04-01 but it was not a joke!

@patrick-irc has added the SCRAM supports in irssi, thanks a lot!

It is possible to have the support in irssi-xmpp?

Thanks in advance.

-----------------------
irssi text:

It is not a joke: "Posted on April 1st 2024"
- https://irssi.org/2024/04/01/sasl-scram-sha-support/

It solves my initial request done 2020-04-20:
- https://github.com/irssi/irssi/issues/1178

Merged PR:
- https://github.com/irssi/irssi/pull/1500

Merged commit:
- https://github.com/irssi/irssi/commit/b18832bf3bcf3634373bcb5b46f33842762a09bb
- https://github.com/irssi/irssi/commit/f2b97631e1209d60e77f2a918809c88bd37fdd04
- https://github.com/irssi/irssi.github.io/commit/e54ff06fd0907e4dcccb9a064476cf0021375e12

Linked to:
- https://github.com/scram-sasl/info/issues/1
- https://github.com/irssi/irssi/issues/4
- https://github.com/irssi/irssi/issues/1331

cc: @dequis, @ircnet-com.

-----------------------
